@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #3d64e6;
}

@layer {
  .center-div {
    @apply flex justify-center items-center h-screen;
  }
}
