@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #3d64e6;
}

@layer {
  .center-div {
    @apply flex justify-center items-center h-screen;
  }
}


.vibrateDiv{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.vibrateDiv::placeholder{
  color: rgb(255, 0, 0,0.5);
}

.spin svg{
  -webkit-animation: spin-animation 0.5s infinite linear;
  animation: spin-animation 0.5s infinite linear;
}

/* Animation Styles */
@-webkit-keyframes spin-animation {
  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  0% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes spin-animation {
  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  0% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}